<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.blikar.blikinn"
    android:versionCode="1"
    android:versionName="1.0"
    android:icon="@drawable/blika_logo" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <supports-screens android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="false" />

    <application
        android:name="is.blikar.pictures.UILApplication"
        android:allowBackup="true"
        android:icon="@drawable/blika_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar"
        android:screenOrientation="portrait" >
        
        <activity
            android:name="is.blikar.blikinn.SplashScreenLogo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="is.blikar.blikinn.SplashScreenAd"
            	  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.blikinn.MainScreenActivity"
           	      android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.blikinn.About"
            	  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.news.NewsScreenActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.news.SingleNewsActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.news.NewsWomanScreenActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.news.SingleWomanNewsActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.news.NewsActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.games.ResultsMenActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.games.NextGamesWomenActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.games.NextGamesMenActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.games.ResultsWomenActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.games.LeagueMenActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.games.LeagueWomenActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.games.GamesNow"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.blikinn.PlayersMenScreenActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.trophies.TrophiesMenScreenActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.trophies.TrophiesWomenScreenActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.trophies.TrophiesActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.radio.RadioScreenActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.players.SinglePlayerActivity_men"
				  android:screenOrientation="portrait">
        </activity>
		<activity android:name="is.blikar.players.SinglePlayerActivity_women"
				  android:screenOrientation="portrait">
        </activity>
		<activity android:name="is.blikar.players.PlayersWomenScreenActivity"
				  android:screenOrientation="portrait">
        </activity>
		<activity android:name="is.blikar.players.PlayersMenScreenActivity"
			      android:screenOrientation="portrait">
        </activity>
		<activity android:name="is.blikar.players.PlayersActivity"
				  android:screenOrientation="portrait">
        </activity>
		<activity android:name="is.blikar.pictures.ImageGridActivity"
				  android:screenOrientation="portrait">
        </activity>
        <activity android:name="is.blikar.pictures.ImagePagerActivity" />
		
		<activity
        android:name="is.blikar.TV$TVListActivity"
        android:configChanges="orientation|keyboardHidden|screenSize">
    	</activity>
    	
		<!-- Widget -->
        <receiver android:name=".widget.UILWidgetProvider" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
                                
    </application>
    
</manifest>
